.App{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blanchedalmond;
    min-width: 400px;
}

h1{
    text-align: center;
}

.rulesFeald{
    width: 400px;
    height: 122px;
}

.footerFeald {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 400px;

}

a{
    text-decoration: none;
    color: blanchedalmond;
}

.rss {
    margin-left: 1rem;
}

.rss img {
    width: 50px;
    margin-right: 0.5rem;
    filter: invert(1);
}

