.playingField {
    width: 400px;
    min-height: 500px;
    background-color: rgb(36, 65, 7);
    
}

.cardsField{
    width: 360px;
    height: 400px;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}


li{
    float: left; 
    width: 120px;
    height: 60px;
}



@keyframes menu6 {
    0% {
      opacity: 0;
      transform: scale(2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

img {
    width: 119px;
}

.modal-body img{        
    animation: menu6 0.5s ease-in-out forwards;
}

.buttonsField{
    padding: 0 20px;
    text-align: center;
}

button {
    background-color: chocolate;
    width: 110px;
    padding: 5px; 
    margin: 0 5px;
    border-radius: 5px;     
    transition: all 0.7s ease 0s;
    outline: none;  
}

button:hover {
    background-color: rgb(241, 156, 81);
    box-shadow: 5px 5px 5px ;
    transition: all 0.5s ease 0s;

}

.buttonAnswer{
    width: 350px;
    height: 43px;    
}

.restartButton {
    width: 180px;
}


